# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Production
build/
dist/

# Env files
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Testing
coverage/
playwright-report/
test-results/

# Misc
*.tsbuildinfo
next-env.d.ts

# devcontainer
.devcontainer/